<div class="celebrity">
  <%= cl_image_tag @celebrity.photo.key, width: 300, height: 300, crop: :thumb, gravity: :face, class: "celebrity-picture" %>
  <div class="celebrity-details">
    <h2><%= @celebrity.name %></h2>
    <h3><%= @celebrity.category.capitalize %></h3>
    <p><%= @celebrity.description %></p>
    <h3 id="price"><%= @celebrity.price %> € / day</h3>
    <div class="white-button btn btn-light"><%= link_to "Réserver", new_celebrity_booking_path(@celebrity) %></div>
  </div>
</div>
