<div class="celebrity">
  <%= cl_image_tag @celebrity.photo.key, width: 300, height: 300, crop: :thumb, gravity: :face, class: "celebrity-picture" %>
  <div class="celebrity-details">
    <h2><%= @celebrity.name %></h2>
    <h3><%= @celebrity.category.capitalize %></h3>
    <p><%= @celebrity.description %></p>
    <h3 id="price"><%= @celebrity.price %> € / day</h3>
    <%= link_to "Réserver", celebrity_bookings_path(@celebrity), class: "white-button btn btn-flat" %>
    <%= link_to "Back", celebrities_path, class: "back-button btn btn-flat" %>
  </div>
</div>


